@charset "UTF-8";
body {
	font-family: sans-serif;
}
a{
	color: black;
}
a:hover { color : #cc3300;
text-decoration: none;
}
#container_pyo {
	width: 1400px;
	border: 1px black solid;
	margin: 0 auto;
}

/* 메인 헤더 관련 */
#main_header_pyo {
	width: 1200px;
	border: 1px black solid;
	margin: 10px auto;
}

#main_header_form_pyo {
	display: inline;
}

#main_header_form_section_search_pyo {
	margin-left: 30px;
}

#main_header_section_menu_pyo {
	display: inline;
	margin-right: 20px;
	float: right;
	margin: 30px;
}

.main_header_section_menuElement_pyo {
	margin: 10px;
}

/* 메인 배너 관련 */
#main_banner_pyo {
	width: 1100px;
	height: 500px;
	border: 1px red solid;
	margin: 20px auto;
	padding-top: 100px;
	
}

/* 푸터  */
#main_footer_pyo {
	background-color: gray;
	width: 100%;
}

#main_footer_inside_pyo {
	width: 1300px;
	text-align: center;
	margin: 0 auto;
	height: 50px;
	line-height: 50px;
}

/* 아이디 찾기 */
#findId{

display: inline;

} 
/* 비번 찾기 */
#findPw{

display: inline;

}